<div class="tcmMap">
	<div id="leftPane" class="">
		<div
			class="inline-flex h-44 w-96 flex-col items-start justify-start bg-white"
		>
			<div
				class="flex h-28 flex-col items-start justify-start gap-4 self-stretch border-b border-gray-200 px-6 py-4"
			>
				<label
					for="search"
					class="block text-sm font-medium leading-6 text-gray-900"
				>
					Search members by name
				</label>
				<div class="relative mt-2 rounded-md shadow-sm">
					<input
						type="search"
						name="search"
						id="search"
						class="block w-full rounded-md border-0 py-1.5 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
						placeholder="Joe Appleseed"
					/>
					<div
						class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3"
					>
						<svg
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-5 w-5 text-gray-400"
							aria-hidden="true"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
							/>
						</svg>
					</div>
				</div>

				<div class="inline-flex items-center justify-between self-stretch">
					<div class="flex items-center justify-center gap-1 py-1">
						<div
							class="font-['Roboto'] text-sm font-normal leading-none text-neutral-600"
						>
							Sort
						</div>
						<div class="relative h-2.5 w-3"></div>
					</div>
					<div class="flex items-start justify-start">
						<div
							class="flex items-center justify-center gap-1 border-r border-gray-200 py-1 pr-4"
						>
							<div
								class="font-['Roboto'] text-sm font-normal leading-none text-neutral-600"
							>
								Location
							</div>
							<div
								class="flex items-center justify-start rounded bg-gray-200 px-1.5 py-1"
							>
								<div
									class="font-['Roboto'] text-xs font-semibold leading-none text-neutral-600"
								>
									1
								</div>
							</div>
							<div class="relative h-2.5 w-3"></div>
						</div>
						<div
							class="flex items-center justify-center gap-1 border-r border-gray-200 px-4 py-1"
						>
							<div
								class="font-['Roboto'] text-sm font-normal leading-none text-neutral-600"
							>
								Industry
							</div>
							<div class="relative h-2.5 w-3"></div>
						</div>
						<div class="flex items-center justify-center gap-1 py-1 pl-4">
							<div
								class="font-['Roboto'] text-sm font-normal leading-none text-neutral-600"
							>
								Type
							</div>
							<div class="relative h-2.5 w-3"></div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="inline-flex items-center justify-start gap-4 self-stretch bg-gray-100 px-6 py-4"
			>
				<div
					class="flex items-start justify-start gap-2.5 border-r border-gray-300 py-1 pr-4"
				>
					<div
						class="font-['Roboto'] text-sm font-normal leading-none text-neutral-500"
					>
						Filters
					</div>
				</div>
				<div
					class="flex items-center justify-center gap-1 rounded-full border border-gray-200 bg-white px-3 py-2.5"
				>
					<div
						class="font-['Roboto'] text-sm font-normal leading-none text-neutral-950"
					>
						San Francisco
					</div>
					<div class="relative h-3 w-3"></div>
				</div>
			</div>
		</div>
		<div
			class="inline-flex h-24 w-96 items-center justify-start gap-4 border-b border-gray-100 bg-white py-5"
		>
			<img class="h-14 w-14 rounded" src="https://via.placeholder.com/56x56" />
			<div class="inline-flex flex-col items-start justify-start gap-1.5">
				<div
					class="font-['Roboto'] text-lg font-bold leading-normal text-zinc-800"
				>
					YMCA of the East Bay
				</div>
				<div class="inline-flex items-center justify-start gap-2">
					<div class="flex items-center justify-start gap-1">
						<div
							class="font-['Roboto'] text-base font-normal leading-tight text-neutral-500"
						>
							Member since
						</div>
						<div
							class="font-['Roboto'] text-base font-normal leading-tight text-neutral-500"
						>
							2018
						</div>
					</div>
					<div class="h-1 w-1 rounded-full bg-neutral-500"></div>
					<div
						class="font-['Roboto'] text-base font-normal leading-tight text-yellow-600 underline"
					>
						Visit Website
					</div>
				</div>
			</div>
			<div
				class="inline-flex shrink grow basis-0 flex-col items-end justify-start gap-1 pt-0.5"
			>
				<div
					class="font-['Roboto'] text-base font-normal leading-normal text-stone-500"
				>
					Berkeley, CA
				</div>
				<div
					class="inline-flex items-center justify-start rounded-full border border-sky-600 border-opacity-30 bg-sky-600 bg-opacity-10 px-2 py-1"
				>
					<div class="font-['Roboto'] text-xs font-medium text-sky-600">
						Health
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
